---
import Image from '~/components/common/Image.astro';
import { getHomePermalink } from '~/utils/permalinks';
import LogoSrc from '~/assets/images/beigebykat-logo.svg';
---

<a
  class="inline-block font-bold text-xl h-fit w-fit"
  href={getHomePermalink()}
>
  <div class=`h-fit w-[200px] lg:min-w-[260px] xl:min-w-[320px]`>
    <Image
      src={LogoSrc}
      alt="Graphic logo for impact web studio"
      class="!object-contain"
      width={300}
      height={100}
    />
  </div>
</a>
