/* Typography */
.iws-tagline {
  font-size: clamp(0.8125rem, 1.6vw, 1rem);
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: inherit;
  letter-spacing: 0.1em;
  font-weight: 700;
  color: var(--aw-color-primary);
  margin-bottom: 0.25rem;
  display: block;
}

.iws-heading {
  font-size: clamp(2.4375rem, 5vw, 3.8125rem);
  font-weight: lighter;
  line-height: 1.2em;
  /* 23 characters including spaces wide */
  max-width: 23ch;
  margin: 0 0 1rem 0;
  color: var(--aw-color-text-heading);
  position: relative;
  font-family: var(--aw-font-heading);
  text-transform: capitalize;
}

.iws-body {
  font-size: 1rem;
  line-height: 1.5em;
  width: 100%;
  font-weight: 300;
  font-family: var(--aw-font-sans);
  color: var(--aw-color-text-default);
}
